@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Satiny{
    height: 95vh;
    width: 42vw;
    background-color: #fff;
    display: flex;

    .Satiny--Left{
        height: 100%;
        width: 40%;
        background-color: #f4f4ee;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .Satiny--LeftImg{
            height: auto;
            width: 80%;
        }
    }
}