@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.PdfViewer{
    height: 100vh;
    width: 56vw;
    padding-top: 10vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-y: scroll;
    position: relative;

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    &::-webkit-scrollbar{
        background-color:transparent;
        width:10px
    }
    
    &::-webkit-scrollbar-thumb
    {
        border-radius: 1rem;
        background-color: #fff;
    }

    .PdfViewer--Options{
        height: 8vh;
        width: 56%;
        position: fixed;
        top: 0;
        left: 22%;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .PdfViewer--OptionsContainer{
            height: 75%;
            width: 13%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #fff;
            border-radius: 2rem;
            margin-right: 1.5rem;

            .PdfViewer--Option{
                height: 4.5vh;
                width: auto;
                cursor: pointer;
            }
        }
    }
}

.PdfViewer::-webkit-scrollbar-track {
    background-color: transparent;
}

.PdfViewer::-webkit-scrollbar{
    background-color:transparent;
    width:10px
}

.PdfViewer::-webkit-scrollbar-thumb
{
    border-radius: 1rem;
	background-color: #fff;
}