@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.PersonalInfo{
    height: 95vh;
    width: 22vw;
    flex-direction: column;
    @include flexCenter;    
}