@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800&display=swap');
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Euphony{
    width: 21cm;
    min-height: 29.7cm;
    background-color: #f0eee2;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    word-break: break-all;

    .Euphony--Header{
        min-height: 23vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: #272727;

        .Euphony--HeaderName{
            font-size: 5rem;
            text-transform: uppercase;
            letter-spacing: 8px;
            color: #1e5559;
        }

        .Euphony--HeaderPos{
            font-size: 2.2rem;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-weight: 500;
        }

        .Euphony--HeaderContact{
            display: flex;
            align-items: center;
            margin-bottom: 2rem;

            .Euphony--HeaderContactTitle{
                font-size: 1.4rem;
                font-weight: 500;
                padding-left: 3rem;
            }
        }
    }

    .Euphony--Body{
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .Euphony--BodyTitle{
            position: absolute;
            top: -3vh;
            height: 5vh;
            width: 14vw;
            background-color: #272727;
            @include flexCenter;
            font-size: 1.8rem;
            text-transform: uppercase;
            color: #fff;
            font-weight: 700;
            letter-spacing: 3px;
        }

        .Euphony--BodyAbout{
            min-height: 14vh;
            width: 85%;
            border: 3px solid #272727;
            position: relative;
            @include flexCenter;

            .Euphony--BodyAboutContent{
                font-size: 1.5rem;
                padding-left: 3rem;
                padding-right: 3rem;
                word-break: break-all;
                padding-top: 1vh;
                overflow-wrap: normal;

            }
        }

        .Euphony--BodyEducation{
            min-height: 14vh;
            width: 85%;
            border: 3px solid #272727;
            position: relative;
            @include flexCenter;

            .Euphony--BodyEducationContainer{
                min-height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;

                .Euphony--BodyEducationContent{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 45%;
                    margin-bottom: 2rem;

                    &:nth-child(1),&:nth-child(2){
                        margin-top: 2rem;
                    }

                    .Euphony--BodyEducationContentYear{
                        font-size: 1.7rem;
                        font-weight: 600;
                        padding-bottom: 0.6rem;
                    }

                    .Euphony--BodyEducationContentCollegeName{
                        font-size: 1.7rem;
                        padding-bottom: 0.5rem;
                        font-weight: 500;
                    }

                    .Euphony--BodyEducationContentCollegeDegree{
                        font-size: 1.55rem;
                        font-weight: 400;
                    }
                }
            }
        }

        .Euphony--BodyRow{
            min-height: 44vh;
            width: 85%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .Euphony--BodyCareer{
                min-height: 44vh;
                width: 48%;
                border: 3px solid #272727;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                .Euphony--BodyCareerInfo{
                    margin-top: 3vh;
                    width: 90%;

                    .Euphony--BodyCareerInfoTitle{
                        font-size: 1.5rem;
                        font-weight: 600;
                        padding-left: 1rem;
                        padding-bottom: 0.4rem;
                    }
    
                    .Euphony--BodyCareerInfoSubtitle{
                        font-size: 1.3rem;
                        font-weight: 500;
                        padding-left: 1rem;
                        padding-bottom: 0.4rem;
                    }
    
                    .Euphony--BodyCareerInfoHeading{
                        font-size: 1.1rem;
                        font-weight: 400;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        padding-bottom: 0.4rem;
                    }

                }
            }
            .Euphony--BodySkills{
                min-height: 44vh;
                width: 48%;
                border: 3px solid #272727;
                position: relative;
                @include flexCenter;
                
                .Euphony--BodySkillsInfo{
                    min-height: 35vh;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    .Euphony--Skills{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .Euphony--BodySkillsInfoTitle{
                            font-size: 1.5rem;
                            font-weight: 500;
                            padding-left: 1rem;
                        }

                        .Euphony--SkillsStarContainer{
                            padding-right: 1.5rem;

                            .Euphony--SkillsStar{
                                height: 2vh;
                                width: auto;
                            }
                        }

                    }

                }
            }     
        }
    }
}